if SHIELD_THORIUM34_LEFT || SHIELD_THORIUM34_RIGHT
    config ZMK_SPLIT
        default y

    config ZMK_BLE
        default y
endif

if SHIELD_THORIUM34_LEFT
    config ZMK_SPLIT_ROLE_CENTRAL
        default y

    config ZMK_KEYBOARD_NAME
        default "Thorium34"

    config ZMK_USB
        default y
endif

if SHIELD_THORIUM34_RIGHT
    config ZMK_USB
        default n
endif