#include "totem.dtsi"

zephyr_udc0: &usbd {
    status = "okay";
};

&physical_layout0 {
    transform = <&default_transform>;
};

/ {
    chosen {
        zmk,kscan = &mock_kscan;
        zmk,matrix_transform = &default_transform;
    };

    mock_kscan: mock_kscan_0 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };

    aliases {
        led-red = &led0;
        led-green = &led1;
        led-blue = &led2;
    };

    leds {
        compatible = "gpio-leds";
        status = "okay";
        led0: led_0 { gpios = <&gpio0 26 GPIO_ACTIVE_LOW>; };
        led1: led_1 { gpios = <&gpio0 30 GPIO_ACTIVE_LOW>; };
        led2: led_2 { gpios = <&gpio0 6 GPIO_ACTIVE_LOW>; };
    };
};

